.footer {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: #26a69a;
    color: black;
    padding: 10px 20px 20px;
    z-index: 999; /* Para garantir que o footer esteja acima de outros elementos */
    text-align: center;
}

.play-pause-button {
    padding: 5px 10px;
  }
  
.radio-name {
  margin-top: 3px;
  margin-bottom: 0;
  margin-left: 20px;
}