.radio-list {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.radio-list th,
.radio-list td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.radio-list th:first-child,
.radio-list td:first-child {
  width: 50px;
}

.radio-list th:nth-child(2),
.radio-list td:nth-child(2) {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.radio-list th:last-child,
.radio-list td:last-child {
  width: 80px;
}

.play-pause-button {
  background-color: #26a69a;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.radio-name {
  font-size: 16px;
}

.edit-button,
.delete-button {
  color: black;
  border: dotted;
  border-width: 2px;
  padding: 2px;
  cursor: pointer;
  background-color: #26a69a;
  margin-right: 2px;
}

.material-icons {
  font-size: 20px;
  vertical-align: middle;
}
