<table class="radio-list">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let radio of radios" class="radio-item">
      <td>
        <button class="play-pause-button" (click)="toggleRadio(radio)">
          <i class="material-icons">{{ isPlaying(radio) ? 'pause' : 'play_arrow' }}</i>
        </button>
      </td>
      <td class="radio-name">
        {{ radio.nome | titlecase }}
        <span class="radio-description" *ngIf="radio.descricao.length > 0" >
          <br>
          {{ radio.descricao | lowercase }}
        </span>
      </td>
      <td class="crud-buttons">
        <button class="edit-button" (click)="editRadio(radio)"><i class="material-icons">edit</i></button>
        <button class="delete-button" (click)="deleteRadio(radio)"><i class="material-icons">delete</i></button>
      </td>
    </tr>
  </tbody>
</table>
