.radio-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid #ddd; /* Adiciona uma borda ao redor da lista */
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .radio-item {
    display: flex;
    align-items: left;
    margin: 10px;
    border-bottom: 1px solid #ddd; /* Adiciona uma linha fina para separar os elementos */
    padding-bottom: 5px; /* Espaçamento entre os elementos */
  }
  
  .play-pause-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .radio-name {
    margin-left: 10px;
  }
  